label:not(:has(input[type='range'])) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 1rem;

    &:hover {
        background-color: #fff3;
    }

    input, button {
        display: none;
    }
}

label:has(input[type='range']) {
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--color-gray-8);
    height: 1.25rem;
    border-radius: 0.25rem;
    margin: 0.65rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    padding-inline-start: 0.75rem;
    white-space: nowrap;
}

input[type='range'] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--color-gray-8);
    background-color: var(--color-gray-9);
    margin-inline-start: 0.5rem;
    margin-inline-end: -0.5rem;
    width: min(18rem, 30vw);

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 0.8rem;
        background-color: var(--color-indigo-7);
        box-shadow: 1px 1px 8px #0008;
    }
    &::-moz-range-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 0.8rem;
        background-color: var(--color-indigo-7);
    }
}

#controls {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    right: 0;
    gap: 0.5rem;
    background-color: #0008;
    border-bottom-left-radius: 0.5rem;

    .fa-microphone {
        color: var(--color-orange-5)
    }
    .fa-microphone-slash {
        color: var(--color-gray-5)
    }

    label:has(.progress):has(input) {
        position: fixed;
        bottom: calc(var(--keyboard-height) - 1rem);
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        color: transparent;
        background-color: transparent;

        input {
            position: absolute;
            inset: 0;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: 0;
            height: 0.5rem;
            width: 100%;
            background-color: var(--color-gray-8);
            overflow: hidden;

            &::-webkit-slider-thumb {
                width: 0.5rem;
                height: 0.5rem;
                box-shadow: calc(-50vw - 0.25rem) 0 0 50vw var(--color-indigo-7);
            }
            &::-moz-range-thumb {
                width: 0.5rem;
                height: 0.5rem;
                box-shadow: -50vw 0 0 50vw var(--color-indigo-7);
            }
        }
    }
    label:has(.speed):has(input) {
        @media (max-width: 37rem) {
            display: none;
        }
    }

    .play-pause {
        position: fixed;
        top: 3.5rem;
        left: 0;
        right: 0;
        bottom: calc(var(--keyboard-height) + 0.5rem);
        z-index: 100;
    }
}

[data-controls='false'] #controls {
    label:has(.speed):has(input), label.reset[class], label.open[class] {
        display: none;
    }
}
